In [1]:
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt

In [10]:
data = pd.read_excel('E:datamining-master/dataset_soal No.1.xls')
data.head()

      Age  Income Student Credit_rating Class (buy_computer)
0   <= 30    High      No          Fair                   No
1   <= 30    High      No     Excellent                   No
2  31..40    High      No          Fair                  Yes
3    > 40  Medium      No          Fair                  Yes
4    > 40     Low     Yes          Fair                  Yes

In [11]:
data.shape

(56, 5)

In [13]:
data['Income'].value_counts()

Medium    22
Low       21
High      13
Name: Income, dtype: int64

In [14]:
data['Student'].value_counts()

Yes    29
No     27
Name: Student, dtype: int64

In [15]:
pd.crosstab(data['Student'], data['Income'])

Income   High  Low  Medium
Student
No         11    1      15
Yes         2   20       7

In [16]:
PNoHigh = 11/13
PYeshigh = 2/13

PNoLow = 1/21
PYesLow = 20/21

PNoMedium = 15/22
PYesMedium = 7/22

PNo = 27/56
PYes = 29/56

print(PYesMedium)

0.3181818181818182